form{
    border: 1px solid red;
    //border-collapse: collapse;
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: fit-content;
}
p{
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}